/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
   @font-face {
    font-family: 'ML_Rani';
    src:  url('fonts/ML_Rani.ttf') format('truetype'),
  }

   html {
    color: #222;
    font-size: 1rem;
    line-height: 1.4;
    background: url(../images/bg1440p.jpg) no-repeat center right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
  }
  
  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }
  
  /* ==========================================================================
     Browser Upgrade Prompt
     ========================================================================== */
  
  .browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }
  
  /* ==========================================================================
     Author's custom styles
     ========================================================================== */
  body{  
    font-family: neue-haas-grotesk-display, sans-serif;
  }
/*
===============================================================================
      Header and Menu
===============================================================================
*/
  header{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3em;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  .dypnoticLogoText{
    margin: 0;
    text-shadow: 3px 2px crimson;
  }
  .mala{
    display: none;
  }
  a:hover .mala{
    font-family: manjari, sans-serif;
    font-size: 0.8em;
    font-weight: 900;
    display: inline;
  }
  a:hover .engl{
    display: none;
  }
  .dypnoticLogo{
    width: 2em;
    height: 2em;
    margin: 0 1em 0 1em;
    fill: crimson;
  }
  nav{
    margin-left: auto;
    height: 1em;
    text-align: center;
  }
  nav a{
    margin: 1em;
    width: 3em;
    text-shadow: 2px 1px crimson;
  }
  h2 {
    font-family: manjari, sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .bg{
    display: block;
    position: fixed;
    height: 100vh;
    width: 100vw;
    margin: 0;
  }

