@import url(https://fonts.bunny.net/css?family=jetbrains-mono:400,400i,700);
html {
	--bg: #f1f1f1;
	--fg: #112;
	--prime: #c00;
	--subtext: #667;
	background: var(--bg);
	height: 100%;
	display: flex;
	justify-content: center;
}

body {
	font: .8125rem 'JetBrains Mono', monospace;
	display: table;
	padding: 24px;
	max-width: 70ch;
	width: 100%;
}


a,
html {
	color: var(--fg);
}

h1, h2 {
	padding: 16px 0;
	margin: 0;
	letter-spacing: 2px;
}

strong {
	color: #00c;
}

ruby {
	color: var(--prime);
}

rt {
	color: var(--subtext);
	font-size: .7em;
}

.translation {
	font-size: 0.6em;
	text-shadow: none;
	letter-spacing: 0;
	margin-bottom: 4px;
	color: var(--subtext);
}

nav ul {
	list-style: none;
	display: flex;
	flex-flow: column;
	gap: 16px;
	padding: 0;

	@media (min-width: 500px) {
		flex-flow: row;
		gap: 32px;
	}
}

figure {
	margin-inline: 16px;

	@media (min-width: 500px) {
	  margin-inline: 40px;
	}

}

blockquote {
	white-space: pre-wrap;
	margin-inline: 0;

	@media (min-width: 500px) {
	  margin-inline: 40px;
	}
}

figcaption {
	text-align: right;
}
